
*.paf
*.o
*.mod
tools/.DS_Store
.DS_Store
tools/makeini/inifile
code/make/*

tools/Interpol-rates.py
code/make/mrits_2022
tools/rates_interpolated.txt
tools/rates_interpolated_1000less.txt
tools/new_input_rates.txt
tools/rates_interpolated.txt
code/inputs/vit_rates1306.datCNEO
tools/rates_interpolated.txt
tools/rates_interpolated.txt

code/make/make_evosolL~
code/make/make_evosolL~
