
*.paf
*.o
*.mod
tools/.DS_Store
.DS_Store
tools/makeini/inifile
code/make/evosolL2016
code/make/make_evosolL
code/make/GENEC
code/make/GENEC_magn2020
code/make/GENEC_DEV
code/make/GENEC_Timmes.exe
*.exe
