
*.paf
*.o
*.mod
tools/.DS_Store
.DS_Store
tools/makeini/inifile
code/make/*

tools/Interpol-rates.py
code/make/mrits_2022
tools/rates_interpolated.txt
tools/rates_interpolated_1000less.txt
tools/new_input_rates.txt
tools/rates_interpolated.txt
code/inputs/vit_rates1306.datCNEO
tools/rates_interpolated.txt
tools/rates_interpolated.txt

code/make/make_evosolL~
code/make/make_evosolL~
code/main.f90
tools/Interpol-rates.py
tools/approx21.txt
tools/approx21_latest.txt
code/inputs/vit_rateslowlow.datCNEO
code/inputs/vit_rateslow.datCNEO
code/inputs/vit_nocapt.datCNEO
code/inputs/vit_EC.datCNEO
code/inputs/netinit_new.inCNEO
code/inputs/netinit_new.inCNE
code/inputs/netinit_EC.inCNEO
code/inputs/approx21_latest.txt
tools/rates_interpolated_approx21.txt
tools/makeini/inichemmod.f90
code/henyey_bas.f90
code/energy_bas.f90
code/chemicals_bas.f90
code/inputs/vit_GENET48.datCNEO_corrected
code/inputs/vit_GENET31.datCNE
code/inputs/vit_GENET48.datCNE
code/inputs/vit_GENET48_alpha.datCNEO
code/fsolve.f90
code/qse_light_group.f90
code/inputs/netinit_GENET53.inCNE
code/inputs/netinit_GENET53.inCNEO
code/inputs/vit_GENET48_energ.datCNEO
code/inputs/vit_GENET53.datCNE
code/inputs/vit_GENET53.datCNEO
tools/makeini/inifile_53
